<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "./mybatis-3-config.dtd">
<configuration>

    <!-- 全局别名设置 -->
	<typeAliases>
		<typeAlias alias="CachedMove" type="com.gobang.domain.ai.CachedMove" />
	</typeAliases>

    <!-- 映射文件路径 -->
	<mappers>
        <mapper resource="mapper/CachedMoveMapper.xml" />
	</mappers>


</configuration>